<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head.ejs") %>
    <!-- PWA Manifest -->
    <link rel="manifest" href="/public/manifest.json" />

    <!-- Service Worker -->
    <!-- non utilizato per il momento -->
    <!-- <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker
            .register("/public/service-worker.js")
            .then((registration) => {
              console.log(
                "Service Worker registrato con successo:",
                registration
              );
            })
            .catch((error) => {
              console.log("Service Worker registrazione fallita:", error);
            });
        });
      }
    </script> -->

    <!-- PWA meta tags -->
    <meta name="theme-color" content="#5200ff" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="CleanFlix" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="apple-touch-icon" href="/public/cleanflix.webp" />

    <title>Milagrito's home theater</title>
    <style>
      main {
        width: 94%;
        max-width: 50rem;
        margin: 4rem auto;
      }

      .card-img-top {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        object-position: center;
      }

      .movie-card {
        width: calc(50% - 1rem);
        cursor: pointer;
        overflow: hidden;
      }

      .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .movie-card:hover {
        box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
        transition: 300ms all;
        scale: 1.05;
      }
      a {
        text-decoration: none;
      }
      .rating-number {
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <%- include("./partials/header.ejs") %>
      <div class="d-flex flex-wrap gap-4">
        <% movies.forEach(movie => { %>
        <div class="movie-card rounded bg-gamma p-4 mb-2 border border-iota">
          <div class="card">
            <a href="/<%= movie.id %>">
              <img
                src="<%= movie.thumbnail %>"
                class="card-img-top d-block mx-auto mb-4 rounded bg-beta"
                alt="Thumbnail of <%= movie.title %>"
              />
            </a>
            <div class="card-body">
              <h4 class="card-title mb-2 fs-5">
                <a href="/<%= movie.id %>"><%= movie.title %></a>
              </h4>
              <p class="card-text mb-3">
                <span
                  class="rating-number bg-iota d-inline-flex align-items-center justify-content-center"
                  ><%=movie.rating %></span
                >
                <% for(let i = 1; i <= 10; i++) { %> <% if(i <= movie.rating) {
                %>
                <i class="fa fa-heart fs-6 color-iota"></i>
                <% } else { %>
                <i class="fa fa-heart fs-6 color-alpha opacity-50"></i>
                <% } %> <% } %>
              </p>

              <div class="d-flex gap-2 mb-2">
                <a
                  href="/edit/<%= movie.id %>"
                  class="p-2 rounded bg-delta w-100 d-flex align-items-center justify-content-center gap-2 color-alpha"
                >
                  <i class="fa fa-edit"></i>
                  <span>Edit</span>
                </a>
                <form
                  action="/delete/<%= movie.id %>"
                  method="POST"
                  class="d-block w-100"
                >
                  <button
                    type="submit"
                    class="p-2 rounded bg-danger w-100 d-flex align-items-center justify-content-center gap-2 color-alpha"
                    onclick="return confirm('Are you sure?')"
                  >
                    <i class="fa fa-trash"></i>
                    <span>Delete</span>
                  </button>
                </form>
              </div>

              <button
                class="p-2 rounded bg-warning color-beta w-100 d-flex align-items-center justify-content-center gap-2 color-alpha"
                onclick="document.getElementById('rating-dialog-<%= movie.id %>').showModal();"
              >
                <i class="fa fa-star"></i>
                <span>Rate</span>
              </button>
              <dialog
                id="rating-dialog-<%= movie.id %>"
                class="rating-dialog p-4 rounded border border-delta"
              >
                <h4 class="mb-3 color-alpha">Rating: <%= movie.title %></h4>
                <form method="POST" action="/rate/<%= movie.id %>">
                  <input
                    type="range"
                    id="rating-<%= movie.id %>"
                    name="rating"
                    min="1"
                    max="10"
                    value="<%= movie.rating %>"
                    class="slider"
                    oninput="document.getElementById('slider-value-<%= movie.id %>').innerText = this.value;"
                  />
                  <span id="slider-value-<%= movie.id %>" class="slider-value"
                    ><%= movie.rating %></span
                  >
                  <div class="d-flex gap-2 mt-3">
                    <button
                      type="button"
                      class="p-2 bg-danger w-100 rounded border-0 color-alpha d-flex align-items-center justify-content-center gap-2"
                      onclick="document.getElementById('rating-dialog-<%= movie.id %>').close();"
                    >
                      <i class="fa fa-times"></i>
                      <span>Close</span>
                    </button>
                    <button
                      type="submit"
                      class="p-2 bg-success w-100 color-beta rounded border-0 color-alpha d-flex align-items-center justify-content-center gap-2"
                    >
                      <i class="fa fa-star"></i>
                      <span>Rate</span>
                    </button>
                  </div>
                </form>
              </dialog>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </main>
    <%- include('./partials/footer'); %> <%- include('./partials/nav'); %>
  </body>
</html>
